/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Section/Article */

		section,
		article
		{
		}
		
			section > .last-child,
			article > .last-child
			{
				margin-bottom: 0;
			}

			section.last-child,
			article.last-child
			{
				margin-bottom: 0;
			}

	/* Form */

		form input[type="text"],
		form input[type="email"],
		form input[type="password"],
		form select,
		form textarea {
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
			border: solid 1px #ccc;
		}

	/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button {
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
		}

			.button.down {
				text-indent: 0;
			}
	
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../img/intro.jpg');
		background-size: cover;
	}
	
		#intro:before {
			content: '';
			background: url('../images/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* One                                                                           */
/*********************************************************************************/

	#one {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../img/one.jpg');
		background-size: cover;
	}

		#one:before {
			content: '';
			background: url('../img/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* Two                                                                           */
/*********************************************************************************/

	#two {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../img/two.jpg');
		background-size: cover;
	}

		#two:before {
			content: '';
			background: url('../img/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}